<!doctype html>
<html ng-app="briscasApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/main.css">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body ng-controller="BriscasController">
    <div class="container">
      <h1>Briscas</h1>
      <button type="button" class="btn btn-primary" ng-click="fill_stack()">Start Game</button>
      <hr>
<!--
      <div ng-repeat="myImage in deck">
        <img ng-src="{{myImage}}"/>
      </div>
-->


      <div class="row">

        <div class="col-xs-6">
          <h3>Deck</h3>
          <img style="width:100px;" ng-src="{{deck[0]}}"/>
        </div>
        <div class="col-xs-6">
          <h3>Vida</h3>
          <img style="width:100px;" ng-src="{{life}}"/>
        </div>
      </div>
      <hr>

      <div class="row">
      <h4>Player 1</h4>
        <div class="col-xs-2">
        <button ng-disabled="getTurn1()" ng-click="makePlay(hand1[0])" type="button" class="btn btn-link">
          <img style="width:100px;" ng-src="{{hand1[0]}}"/>
        </button>
        </div>
        <div class="col-xs-2">
        <button ng-disabled="getTurn1()" ng-click="getTurn1()" ng-click="makePlay(hand1[1])" type="button" class="btn btn-link">
          <img style="width:100px;" ng-src="{{hand1[1]}}"/>
        </button>
        </div>
        <div class="col-xs-2">
        <button ng-disabled="getTurn1()" ng-click="makePlay(hand1[2])" type="button" class="btn btn-link">
          <img style="width:100px;" ng-src="{{hand1[2]}}"/>
        </button>
        </div>
      </div>
      <br>
      <hr>
        <div class="row">
          <h4>Game Board</h4>
          <div class="col-xs-5">
            <img style="width:100px;" ng-src="{{play[0]}}">
          </div>
        </div>
        <hr>
        <div class="row">
         <h4>Player 2</h4>
          <div class="col-xs-2">
          <button ng-disabled="getTurn2()" ng-click="makePlay(hand2[0])" type="button" class="btn btn-link">
            <img style="width:100px;" ng-src="{{hand2[0]}}"/>
          </button>
          </div>
          <div class="col-xs-2">
          <button ng-disabled="getTurn2()" ng-click="makePlay(hand2[1])" type="button" class="btn btn-link">
            <img style="width:100px;" ng-src="{{hand2[1]}}"/>
          </button>
          </div>
          <div remove-on-click ng-click="remove()" class="col-xs-2">
          <button  ng-disabled="getTurn2()" ng-click="makePlay(hand2[2])" type="button" class="btn btn-link">
            <img style="width:100px;" ng-src="{{hand2[2]}}"/>
          </button>
          </div>
        </div>
        <br><br>


    </div>





  </body>
</html>
